.TMIContainer {
  width: 500px;
  position: relative;
}

/* These are css codes for help dialogs */
.helpButton {
  float: right;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  text-align: center;
  border: none;
  border-radius: 1em;
  font-weight: bold;
  background-color: deepskyblue;
  color: white;
}
.instructions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid deepskyblue;
}
.instructions h4 {
  margin: 0;
  text-align: center;
}
.instructions div {
  width: 100%;
  padding: 0.5em;
  overflow-y: scroll;
}
.killInstuctions {
  float: right;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  text-align: center;
  border: none;
  font-weight: bold;
  background-color: red;
  color: white;
}
.accordion div {
  overflow-y: hidden;
  margin: 0;
  /* padding: 0 3px;*/
}
.accordionHeading {
  background-color: rgba(0,0,0,.05);
  margin: 1px;
  padding: 0 3px;
  border-radius: 3px;
}
.accordionBody {
  background-color: rgba(0,0,0,.1);
}

/* instrcutions when the screen is small */
@media screen and (max-width: 600px) {
  .helpButton {
    width: 3em;
    height: 3em;
  }
  .killInstuctions {
    width: 3em;
    height: 3em;
  }
}

/* thes format the basic card layout in the TMI */
.cardBox {
  width: 100%;
  border: 1px solid gray;
  font-family: cursive!important;
}
.cardSleeve {
  display: grid;
  grid-template-columns: 17fr 1fr;
  width: 100%;
}
.card {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}
.card input, .card textarea, .card select {
  background-color: rgba(255,255,255,.4);
  border: 1px solid rgba(0,0,0,.03);
}
.cardTitle {
  text-align: center;
  font-weight: bold;
}
/* cards when the screen is small */
@media screen and (max-width: 600px) {
  
}

/* the floweditor buttons are down the right side of each card */
.flowEditor {
  display: inline-block;
  width: 100%;
  height: fit-content;
  padding: 0.5em 0;
}
.flowEditor button {
  width: 2em;
  height: 2em;
  margin: 1px;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
}
.flowEditor button:hover {
  box-shadow: 0px 0px 5px rgba(100,100,255,1);
}
.flowEditor .kill {
  background-color: pink;
  color: red;
  border: none;
}
.flowEditor .add {
  background-color: lightgreen;
  color: green;
  border: none;
}
/* flowEditor when the screen is small */
@media screen and (max-width: 600px) {
  .flowEditor button {
    width: 3em;
    height: 3em;
  }
}

/* other common formats */
.noShow {
  display: none;
}
.head {
  padding: 0;
  font-size: small;
}
.body {
  padding: 0 2px;
}
.selector__control {
  background-color: transparent!important;
  border: none!important;
  border-style: none!important;
}
.identity {
  color: rgba(0,0,0,.4);
  font-size: small;
}
.stage {
  background-color: #ffeeee;
}
.phase {
  background-color: #ffffee;
}
.round {
  background-color: #eeffee;
}
.turn {
  background-color: #eeffff;
}
.step {
  background-color: #eeeeff;
}
.collapse {
  height: 3em;
  overflow-x: none;
}

@media screen and (max-width: 900px) {
  
}

@media screen and (max-width: 600px) {
  
}